.contactUs {
  .container {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    justify-items: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
  .contact-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #620512;
    margin: 50px auto 50px auto;
  }

  .p-3 {
    margin-right: 41px;
  }

  #ContactInput,
  #NameInput {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 488px;
    height: 49px;
    margin: 5px 0 30px 0;
  }

  #MessageInput {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 488px;
    height: 159px;
    margin-top: 13px;
    margin-bottom: 10px;
  }

  .form-label {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: text;
    font-size: 20px;
  }

  .form-label:nth-last-child(1) {
    margin-bottom: 46px;
  }

  .btn {
    width: 488px;
    height: 49px;
    background: #2e2925;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 121px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
  }

  .btn:hover {
    color: #fff;
    border: #fff solid 1px;
    background: #620512;
    cursor: pointer;
  }

  #contact-right {
    display: subgrid;
    background: #620512;
    border-radius: 10px;
    color: #ffffff;
    padding: 48px 60px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    block-size: 740px;
    margin-bottom: 100px;
    margin-top: 70px;
  }

  #map {
    width: 100%;
    height: 261px;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .info-title {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    cursor: text;
  }

  .logo-container {
    position: absolute;
  }
  .email-logo {
    margin: 35px 34px 15px 0;
    width: 37px;
    height: 27px;
  }

  .instagram-logo {
    margin: 28px 34px 27px 0;
    width: 40px;
    height: 40px;
  }

  .facebook-logo {
    margin: 14px 34px 15px 0;
    width: 40px;
    height: 41px;
  }

  .logo-description {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 28.8px;
    padding-top: 35px;
    padding-left: 75px;
  }

  .email-description {
    margin-top: -1px;
    cursor: text;
  }

  .instagram-description {
    margin-top: 17.5px;
    margin-bottom: 25px;
    cursor: text;
  }

  .facebook-description {
    cursor: text;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .contactUs {
    .container {
      font-size: 16px;
      font-weight: 700;
      overflow: hidden;
    }

    .contact-title {
      font-weight: 900;
      font-size: 24px;
      line-height: 48px;
      margin: 41px, 0;
    }

    .p-3 {
      margin-right: 20px;
      margin-left: 20px;
    }

    .mb-3 {
      margin-top: 30px;
    }

    #ContactInput,
    #NameInput {
      width: 100%;
      height: 49px;
      margin: 13px 0;
    }

    #MessageInput {
      width: 100%;
      height: 159px;
      margin-top: 13px;
    }

    .form-label {
      font-size: 16px;
      margin-bottom: 0px;
    }

    .btn {
      width: 100%;
      height: 49px;
      margin-bottom: 57px;
      font-size: 20px;
      line-height: 30px;
    }

    #contact-right {
      padding: 48px 60px;
      block-size: 661px;
      margin-top: 70px;
      margin-bottom: 100px;
      width: 100%;
      border-radius: 0px;
    }

    #map {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .info-title {
      font-size: 24px;
      line-height: 48px;
    }

    .email-logo {
      margin: 35px 34px 15px 0;
      width: 33px;
      height: 25px;
    }

    .instagram-logo {
      margin: 28px 34px 27px 0;
      width: 35px;
      height: 37px;
    }

    .facebook-logo {
      margin: 14px 34px 15px 0;
      width: 35px;
      height: 37px;
    }

    .logo-description {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 28.8px;
      padding-top: 35px;
      padding-left: 60px;
    }

    .email-description {
      margin-top: -1px;
      cursor: text;
    }

    .instagram-description {
      margin-top: 15px;
      margin-bottom: 25px;
      cursor: text;
    }

    .facebook-description {
      cursor: text;
    }
  }
}

@media only screen and (max-width: 360px) {
  .contactUs {
    .logo-description {
      font-size: 12px;
      line-height: 25px;
      padding-top: 35px;
      padding-left: 50px;
    }
    .email-logo {
      width: 28px;
      height: 20px;
    }

    .instagram-logo {
      width: 30px;
      height: 32px;
    }

    .facebook-logo {
      width: 30px;
      height: 32px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .contactUs {
    .logo-description {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: 280px) {
  .contactUs {
    .logo-description {
      font-size: 8px;
    }
  }
}
