.events {
  .event-header {
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    border-radius: 100%/25%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 130px;
    box-shadow: 0px 2px 4px 0px rgba(41, 28, 28, 0.4);
  }

  .slideshow-container {
    padding: 15px;
  }

  .carousel {
    margin: auto;
    width: 100%;
    border: 10px solid white;
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  }

  .sliderimg {
    width: 100%;
    object-fit: cover;
    height: 450px;
  }

  .carousel-inner {
    border-radius: 20px;
    z-index: 1;
  }

  .content-container {
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
  #pintu-title {
    width: 400px;
    margin-top: 40px;
  }

  #events-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 10px;
    line-height: 121px;
    color: black;
  }

  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .event-row {
    height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .event-name {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    text-align: left;
    font-size: 36px;
    font-weight: 900;
    line-height: 72px;
    color: #620512;
    margin: 20% 0 0 100px;
  }

  .event-description {
    font-family: 'Lato';
    text-align: justify;
    margin: 30px auto 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-left: 50px;
    padding-right: 50px;
  }

  hr {
    width: 238px;
    height: 0px !important;
    margin: 70px auto 90px;
    border: 3px solid #620512;
  }
}

@media only screen and (max-width: 990px) {
  .events {
    .event-row {
      width: 90%;
    }

    .event-name {
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .events {
    .event-header {
      border-radius: 100%/15%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 60px;
    }

    .slideshow-container {
      padding: 20px;
    }

    .events-title {
      font-size: 50px;
    }

    .event-description {
      font-size: 16px;
    }

    #pintu-title {
      width: 480px;
      margin-top: 0px;
    }

    #event-name {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .events {
    .event-header {
      height: 400px;
    }

    .carousel {
      border: 5px solid white;
    }
    .sliderimg {
      height: 210px;
    }

    .event-container {
      overflow: hidden;
    }

    .event-row {
      width: 100%;
      padding: 0 10px 0 10px;
    }

    #pintu-title {
      width: 200px;
      margin-bottom: -22px;
    }

    #events-title {
      font-size: 30px;
      letter-spacing: 3px;
      margin-bottom: -50px;
    }

    .event-name {
      width: unset;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 45px;
    }

    .event-description {
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 10px;
    }
    hr {
      width: 180px;
      height: 0px !important;
      border: 2px solid #620512;
      margin: 20px auto 10px;
    }
  }
}

@media screen and (max-width: 350px) {
  .FinancialMatters {
    > div > h1 {
      font-size: 25px !important;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: transform 0.6s ease-in-out;
  }
}
