.DropdownMenu {
  padding-left: 0;
  background-color: #7c0414;
  width: 130px;
  position: absolute;
  margin-left: -18px;
  top: 80px;
  list-style: none;
  text-align: start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
}

.DropdownMenu li {
  /* padding: 16px; */
  cursor: pointer;
  text-align: center;
}

.DropdownMenu li:hover {
  background-color: #620512;
}

.DropdownMenu.clicked {
  display: none;
}

.DropdownLink {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 16px;
}

.DropdownLink:hover {
  color: #fff;
  text-decoration: none;
}

.fa-caret-down,
.fa-caret-up {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down,
  .fa-caret-up {
    display: unset;
  }

  .DropdownMenu {
    position: unset;
    /* background-color: rgb(221, 221, 221); */
    background-color: white;
    width: 100%;
    margin-left: 0px;
    box-shadow: none;
  }

  .DropdownMenu li {
    text-align: left;
  }

  .DropdownMenu li:hover {
    color: #fff;
    text-decoration: none;
  }

  .DropdownLink {
    font-size: 1.1rem;
    color: inherit;
    padding: 10px 25px 20px 20%;
    border-left: 4px solid #620512;
  }
}
