.Navbar {
  z-index: 100;
  position: sticky;
  top: 0;
  user-select: none;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .NavbarLogo {
    justify-self: start;
    margin-left: 5%;
    cursor: pointer;
    text-decoration: none;
  }

  .NavbarLogo > img {
    width: 115px;
  }

  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }

  .NavbarMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .NavbarItem {
    display: flex;
    align-items: center;
    height: 80px;
  }

  .NavbarLinks {
    color: black;
    text-decoration: none;
    padding: 1.2rem 1.2rem;
    cursor: pointer;
  }

  .NavbarLinks:hover {
    color: #620512;
    text-decoration: none;
  }

  .fa-bars {
    color: black;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .Navbar {
    position: unset;
    top: auto;

    /* Code dibawah ini buat bikin Navbar nya yg pas viewport nya dikecilin */

    /* NavbarMenu adalah container yg isinya nav-items, yg pada default nya letak nya ada di left: -100%, biar ga kliatan
    Stlh icon bars nya di click, dia bakal jadi active, which posisi nya bakal diganti jd left: 0, jadi menu nya 
    bakal kliatan */

    .NavbarMenu {
      display: flex;
      grid-gap: 0px;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .NavbarMenu.active {
      /* background-color: rgb(221, 221, 221); */
      padding-left: 0;
      background-color: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 20;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .NavbarLinks {
      text-align: left;
      padding: 1.5rem 2rem 1.5rem 15%;
      width: 100%;
      display: table;
    }

    .NavbarLinks:hover {
      color: black;
      text-decoration: none;
    }

    .NavbarLogo {
      position: absolute;
      top: 7px;
      left: 0;
      transform: translate(10%, 55%);
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 3%;
      transform: translate(-100%, 40%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .fa-times {
      color: black;
      font-size: 2rem;
    }

    .NavbarItem {
      display: block;
      height: auto;
    }

    .NavbarItem:nth-child(1) {
      margin-top: 20px;
    }

    .NavbarItem:last-child {
      margin-bottom: 40px;
    }
  }
}
