.footer {
  min-height: 9vh;
  background-color: rgba(98, 5, 18, 1);
  color: white;

  > .row {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    align-items: center;
  }

  .footerText {
    font-size: 16px;
    padding: 20px 40px;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .socialMedia > a {
    padding: 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    .footerText {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    .footerText {
      font-size: 12px;
      padding: 10px 0 20px 0;
    }

    .footerText:nth-child(1) {
      display: none;
    }

    .socialMedia {
      padding: 20px 100px 0;
    }

    .socialMedia > a {
      padding: 0 15px;
    }
  }
}
