.FinancialMatters {
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lato';
  margin: 0 0 70px;
  background-color: white;
}

@media screen and (max-width: 960px) {
  .FinancialMatters {
    > div > div > p {
      font-size: 14px !important;
      line-height: 21px !important;
    }
    > div > div > h2 {
      font-size: 16px !important;
    }
  }
}

@media screen and (max-width: 550px) {
  .FinancialMatters {
    > div#content {
      padding-top: 40px !important;
      padding-bottom: 30px !important;
      margin-right: 40px !important;
      margin-left: 40px !important;
      border-radius: 30px !important;
    }
    > div > h1 {
      font-size: 30px !important;
      padding-left: 20px;
      padding-right: 20px;
    }

    > div > div:nth-child(2),
    :nth-child(3) {
      margin-top: 8vw !important;
    }

    > div > div > h2 {
      margin-top: 10px !important;
      margin-bottom: 20px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .FinancialMatters {
    > div > h1 {
      font-size: 25px !important;
    }
  }
}
